
<div class="container-fluid min-vh-100">

  <div class="row ">
    <div class="col-4 bg-dark text-white min-vh-100" *ngIf="show_rules; else showrulemenu">

      <div class="mb-4 mt-2 px-2  d-flex align-items-center justify-content-end text-white" (click)="showRules()" style="cursor: pointer">
        <div style="font-size: 1em"> ❌ </div>
        <div class="fst-italic px-2" style="color: darkred">Masquer les règles</div>
      </div>


      <div *ngFor="let rule of rules">
        <h4> {{rule.title}} </h4>

        <div *ngFor="let content of rule.content">
          <p>{{content}}</p>
        </div>
        <div class=" mb-2 w-100 bg-white" style="height: 2px; " ></div>

      </div>
    </div>

    <ng-template #showrulemenu>
      <div class=" mt-2 px-2 d-flex align-items-center justify-content-start text-white" (click)="showRules()" style="cursor: pointer">
        <div style="font-size: 2em"> 📜 </div>
        <div class="fst-italic px-2" style="color: burlywood">Afficher les règles</div>
      </div>
    </ng-template>

    <div [ngClass]="show_rules ? 'col-8' : 'col-12'" *ngIf="started; else startBloc">
      <div class="max-vh-100 d-flex justify-content-center align-items-start">
        <div class="d-block text-center ">

          <!-- Affichage Score -->
          <app-score *ngIf="!finished" [pc_score]="game.p2.points" [user_score]="game.p1.points" [show_rules]="show_rules"></app-score>

          <!--Affichage resultat -->

          <app-game-result [show]="finished" [winner]="winner "></app-game-result>

          <!-- plateau de jeu -->
          <app-awale *ngIf="!finished" [changeCode]="changeCode" [game]="game" (onHoleClick)="onChoose($event)"
                     [pc_loading_value]="pc_loading" [user_loading_value]="user_loading"
                     [user_count]="user_count"
                     [pc_count]="pc_count" [gain]="gain"></app-awale>

          <div class="container" [ngStyle]="finished ? {'margin-top': '100px'} : {'margin-top': '150px'}">
            <div class="row">

              <div class="col" *ngIf="!finished">
                <button class="btn bg-dark rounded-pill text-white" (click)="abandon()">
                 🙅🏻‍ ABANDONNER
                </button>
              </div>

              <div class="col">

                <div  *ngIf="finished" style="margin-top: 100px; margin-bottom: 50px">
                  <div class="text-white fw-bolder fst-italic"> Choisis un niveau de jeu </div>
                  <select [(ngModel)]="game_level" >
                    <option  *ngFor =" let level of levels" [value]="level"> {{level_Label(level)}}</option>
                  </select>
                </div>

                <button [ngClass]="finished ? 'bg-success' : 'bg-secondary rounded-pill'" class="btn  text-white" (click)="start()">
                 {{finished ?'JOUER UNE NOUVELLE PARTIE' :' 🔄 RECOMMENCER'}}
                </button>
              </div>

              <div class="col" *ngIf="!finished">
                <button class="btn bg-danger rounded-pill text-white" (click)="abandon()">
                  ⛔️ ARRETER
                </button>
              </div>

            </div>

          </div>

        </div>

      </div>
    </div>

    <ng-template #startBloc>
      <div [ngClass]="show_rules ? 'col-8' : 'col-12'" class="max-vh-100 container d-flex align-items-start justify-content-center h-100">
        <div class="text-center">

          <div [ngStyle]= "show_rules ? {'margin-top': '50px'} : {} ">
            <app-logo></app-logo>
          </div>

          <div style="margin-top: 100px">
            <div class="text-white fw-bolder fst-italic"> Choisis un niveau de jeu </div>
            <select [(ngModel)]="game_level" >
              <option  *ngFor =" let level of levels" [value]="level"> {{level_Label(level)}}</option>
            </select>
          </div>

          <button class="btn btn-success" style="margin-top: 50px" (click)="start()">
            COMMENCER UNE PARTIE
          </button>
        </div>

      </div>
    </ng-template>
  </div>

  <footer style="position: absolute; bottom: 2px">
    <div class="min-vw-100 text-center fst-italic" style="font-size: 0.9em; color: #b0b0b0">
      L❤️vely built with
      <img class="mb-1" width="25" height="25" src="assets/rust.png"> Rust
      <img class=" mx-1 mb-1" width="20" height="20" src="assets/wasm.png"> WebAssembly &
      <img class="mb-1" width="30" height="30" src="assets/angular.png">Angular
    </div>
  </footer>
</div>




